{% extends 'base.html' %}
{% block page_title %}Time Gavel{% endblock %}
{% block content %}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading my-2 mx-2">Time Gavel</h1>
        <p class="lead text-muted my-2 mx-2">Your one-stop auction site for rare antiquities and collectables. Items so rare you wont see them anywhere else.</p>
        <p>
        <a href="{% url 'products:antiques' %}" class="btn btn-primary my-2 mx-2">Current Products</a>
        <a href="{% url 'home:requestAnItem' %}" class="btn btn-primary my-2 mx-2 bg-success">Request an item</a>
        </p>
    </div>
</section>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2>Check out some of our previously sold items</h2>
        </div>
        
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-4 past-items">
            
        </div>
        <div class="col-sm-12 col-lg-4 past-items">
            
        </div>
        <div class="col-sm-12 col-lg-4 past-items">
            
        </div>
        
    
       
    </div>

</div>
{% endblock %}