{% extends 'base.html' %}

{% block title %}The Auction{% endblock %}

{% block content %}

<div class="container p-3">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2 class="p-3">Auction Details for {{ auction.antiques.name }}</h2>
            <h3 class="p-3">Auction: #{{ auction.pk }}</h3>
        </div>
    </div>
</div>
<div class="container p-3">
    <div class="row">
        <div class="col-xs-10 display panel panel-default mb-3">
            <div class="pane p-3">
                <div class="image-container m-1">
                    <img src="{{ MEDIA_URL }}{{ auction.antiques.image }}" alt="Product Image" height="100%" width="100%">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary m-3 hide-description" type="button" data-toggle="collapse"  aria-expanded="false">
                Description
            </button>
            <div class=" item-description collapse">
                <p class="item-description p-3">{{ auction.antiques.description }}</p>
                <br>
                <strong><h5 class="p-3">Learn more about the items background</h5></strong>
                <a class="p-3" href="http://{{ auction.antiques.edu_info }}">Wiki</a>
            </div>
        </div>
    </div>
    <div class="row"></div>
        <div class="col-md-6">
            <div class="panel panel-default mb-3">
                <p class="auction-info p-3">Bidding Start: {{ auction.time_starting }}</p>
                <p class="auction-info p-3">Bidding End: {{ auction.time_ending }}</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default mb-3">
                <p class="auction-info p-3">Current number of bids: {{ auction.number_of_bids }}</p>
                <p class="auction-info p-3">Current highest bid: {{ auction.current_leader }}</p>
                <p class="date-posted">First appeared on site <strong>{{ auction.antiques.date_posted }}</strong></p>    
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <form method="post" action="#">
                {% csrf_token %}
                    <div class="buy-now">
                        <div class="purchase-box">
                            <h5 class="purchase-header">Secure this item presale now for </h5><span class="current-bid">€{{  auction.antiques.buy_now_price }}<button class="buy-now btn btn-success" type="submit">Buy Now</button></span>
                        </div>   
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-md-6">
                <form method="post" action="{% url 'auction:bid' auction.pk %}">
                {% csrf_token %}
                    <div class="form-group">
                        <input type="hidden" name="antiques_id" value="{{ auction.id }}" />
                        <input name="bid" type="number" class="form-control" placeholder="bid">
                        {% if messages %}
                        <div class="message-box text center">
                        {% for message in messages %}
                            <strong><p style="color: red"> {{ message }} </p></strong>
                        {% endfor %}
                        </div>
                        {% endif %}
                </div>
                    <button name="bid-button" type="submit" class="btn btn-primary"> Bid</button>
                </form>
            </div>
        </div>
                
        
    </div>
</div>






{% endblock %}