{% extends 'base.html' %}

{% block title %}The Auction{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2 class="m-4">Auction Details for {{ auction.antiques.name }}</h2>
            <h3 class="m-4">Auction: #{{ auction.pk }}</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 display panel panel-default mb-3 text-center">
            <div class="image-container">
                <div class="antique" style="background-image: url('{{ MEDIA_URL }}{{ auction.antiques.image }}"></div>
            </div>
        </div>
    </div>
    <div class="row m-4">
        <div class="col-xs-12">
            <button class="btn btn-primary m-3 hide-description" type="button" data-toggle="collapse"  aria-expanded="false">
                Description
            </button>
            <div class="item-description collapse">
                <p class="item-description p-3">{{ auction.antiques.description }}</p>
                <br>
                <p class="date-posted">First appeared on site <strong>{{ auction.antiques.date_posted }}</strong></p>    
                <strong><p class="p-3"><a class="p-3" href="http://{{ auction.antiques.edu_info }}">Learn more about the items background</a></p></strong>
                
            </div>
        </div>
    </div>
    <div class="row m-4">
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-default mb-3">
                <p class="auction-info p-3">Bidding Start: {{ auction.time_starting }}</p>
                <p class="auction-info p-3">Bidding End: {{ auction.time_ending }}</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-default mb-3">
                <p class="auction-info p-3">Current number of bids: {{ auction.number_of_bids }}</p>
                <p class="auction-info p-3">Current highest bid: {{ auction.current_leader }}</p>
                
            </div>
        </div>
    </div>
    <div class="row m-4">
        <div class="col-xs-12 col-md-6">
            <div class="buy-now">
                <div class="purchase-box">
                    <h5 class="purchase-header">Secure this item presale now for </h5>
                    <span class="buy-now-price">€{{  auction.antiques.buy_now_price }}
                        <a class="buy-now btn btn-success" href="{% url 'checkout:buy_now_checkout' auction.antiques.pk %}">Buy Now</a>
                    </span>
                </div>   
            </div>   
        </div>
        <div class="col-xs-12 col-md-6 m-4">
            <form method="post" action="{% url 'auction:bid' auction.pk %}">
            {% csrf_token %}
                <div class="form-group">
                    <input type="hidden" name="antiques_id" value="{{ auction.id }}" />
                    <input name="bid" type="number" class="form-control" placeholder="bid">
                    {% if messages %}
                    <div class="message-box text center">
                    {% for message in messages %}
                        <strong><p style="color: red"> {{ message }} </p></strong>
                    {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <button name="bid-button" type="submit" class="btn btn-primary"> Bid</button>
            </form>
        </div>
    </div>
</div>







{% endblock %}