{% extends 'profile.html' %}

{% block watch_bid %}

<div class="row">
    <div class="col-xs-12 text-center">
        <div class="watch-title">
            <h5>Auction Activities</h5>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 text-center">
        <div class="watch-title">
            <h5>Current Bids</h5>
            <!-- Show current items currently bid on -->
            <!-- If auction expired and winning bidder, show link to buy -->
            <!-- Show time left on auction -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 text-center">
        <div class="watch-title">
            <h5>Watching</h5>
            <!-- Watchlist will be more or less the same above but wont include the users bid or information -->
        </div>
    </div>
</div>


{% endblock %}