{% extends 'base.html' %}
{% block title %}All Current Auctions{% endblock %}

{% block content %}
<div class="container mb-5 mt-5">
    <div class="col-xs-12 text-center">
        <h2>Currently Active Auctions</h2>
    </div>
</div>
<!-- Search bar-->
<nav aria-label="search-bar" class="navbar navbar-expand-md navbar-dark bg-dark mb-2">
    <div class="d-flex flex-grow-1">
        <form method="GET" action="{% url 'search:search_current_auctions' %}" class="mr-2 my-auto w-100 d-inline-block order-1">
            <div class="input-group">
                <input name="q" value="{{ request.GET.Q }}" type="text" class="form-control border m-2 border-right-0" placeholder="Search Current Auctions...">
                <span class="input-group-append">
                    
                    <button class="btn btn-success" type="submit">
                        <span class="material-icons">search</span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</nav>
<div class="container">
    <!-- For loop iterates through context predetermined on views -->
    <div class="row row-flex">
        {% for auction in items %}
        <div class="col-xs-12 offset-md-1 col-md-5 display panel panel-default mb-3">
            <div class="panel-body p-3">
                <div class="image-container m-1">
                    <img src="{{ MEDIA_URL }}{{ auction.antiques.image }}" alt="Product Image" height="100%" width="100%">
                </div>
                <h3 class="p-3">{{auction.antiques.name}}</h3>
                <button class="btn btn-primary m-3 hide-description" type="button" data-toggle="collapse"  aria-expanded="false">
                    Description
                </button>
                <div class="card card-body item-description collapse">
                    <p class="item-description p-3">{{ auction.antiques.description }}</p>
                    <br>
                    <strong><h5 class="p-3">Learn more about the items background</h5></strong>
                    <a class="p-3" href="http://{{ auction.antiques.edu_info }}">Wiki</a>
                </div>
                <div class="card card-body">
                    <p class="auction-info p-3">Bidding Start: {{ auction.time_starting }}</p>
                    <p class="auction-info p-3">Bidding End: {{ auction.time_ending }}</p>
                </div>
                <div class="card card-body">
                    <p class="auction-info p-3">Current number of bids: {{ auction.number_of_bids }}</p>
                    <p class="auction-info p-3">Current highest bid: {{ auction.current_leader }}</p>    
                </div>
                <div class="card card-body">
                    <p class="date-posted">First appeared on site: <strong>  {{ auction.antiques.date_posted }}</strong></p>
                </div>
                
                <div class="card card-body">
                    <div class="to-the-auction">
                        <div class="direct-box">
                            <a class="success" href="{% url 'auction:get_all_auctions' %}" style="color: orange">Check out all off the auctions currently taking place</a>
                        </div>
                        <br>
                        <div class="direct-box">
                            <a class="success" href="{% url 'auction:get_specific_auction' auction.pk %}" style="color: orange">Go to the Auction page for this item</a>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="card card-body">
                    <div class="buy-now-watch">
                        <div class="purchase-box">
                            <h5 class="purchase-header">Secure this item now for <strong style="color: green">€{{  auction.antiques.buy_now_price }}</strong></h5>
                            <br>
                            <button class="btn btn-success" type="submit">Buy Now</button>
                            <button class="btn btn-info" onclick="#">Watch</button>
                        </div>   
                    </div>
                        
                </div>   
            </div>
        </div>
    {% endfor %}    
    </div>
</div>
<!--Includes Page numbers, currently set to 4 items a page as the fields are quite large-->
{% include 'pagination.html' %}
{% endblock %}