{% extends 'base.html' %}

{% block page_title %}{{ user }}'s Watchlist{% endblock %}

{% block page_heading %}{{ user }}'s Watchlist{% endblock %}

{% block content %}

<div class="container-fluid profile-intro">
	<div class="row">
        <div class="col-sm-12">
            <h2 class="text-center profile-header">Welcome to your item management page {{ user }}</h2>
        </div>        
        <div class="col-sm-12">
            <h5 class="text-center">Below you will see the items that you have showed interest in via actively bidding or placing on your watchlist.</h5>
            <br>
            <h5 class="text-center">This includes your current active bids and watch list</h5>
            <br>
            <h5 class="text-center">You can also pay for auctions that have won on this page. Once you are the winning the bidder and the auction has expired, you will see this option appear on this page</h5>
        </div>        
    </div>
</div>

{% for bid in bids %}
    {% if bid.auction.money_collected == False %}
        {% if bid.auction.winning_bidder == request.user and bid.auction.auction_expired %}

        <div class="container-fluid m-5">
            <div class="row">
                <div class="col-xs-12">
                    <h3><strong style="color:red">Congratulations!</strong></h3>
                    <p>You have successfully won the following auction/s</p>
                </div>
            </div>
            <div class="row">
                <dl class="p-2 limiter bg-dark col-xs-12 col-md-6">
                    <dt>Antique name:</dt>
                    <dd>{{ bid.auction.antiques.name}}</dd>
                    <dt>Auction #:</dt>
                    <dd><strong>{{ bid.auction.pk }}</strong></dd>
                    <dt>Total bids:</dt>
                    <dd>{{ bid.auction.number_of_bids }}</dd>
                    <dt>Your winning bid:</dt>
                    <dd>{{ bid.auction.current_leader }}</dd>
                    <dt>Auction ended:</dt>
                    <dd>{{ bid.auction.time_ending }}</dd>
                    <a class="winners-box btn-success" href="{% url 'checkout:checkout_auction' bid.auction.pk %}"><strong>Pay</strong></a>
                </dl>
                <br>
                <div class=" col-xs-12 col-md-6">
                    <img src="{{ MEDIA_URL }}{{ bid.auction.antiques.image }}" alt="Product Image" height="50%" width="50%">
                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}

    {% if bid.auction.winning_bidder == request.user and bid.auction.money_collected %}

    <div class="container-fluid m-5">
        <div class="row">
            <div class="col-xs-12">
                <h3><strong style="color:green">Your Previous Purchases</strong></h3>
            </div>
        </div>
        <div class="row">
            <dl class="p-2 limiter bg-dark col-xs-12 col-md-6">
                <dt>Antique name:</dt>
                <dd>{{ bid.auction.antiques.name}}</dd>
                <dt>Auction #:</dt>
                <dd><strong>{{ bid.auction.pk }}</strong></dd>
                <dt>Total bids:</dt>
                <dd>{{ bid.auction.number_of_bids }}</dd>
                <dt>Your winning bid:</dt>
                <dd>{{ bid.auction.current_leader }}</dd>
                <dt>Auction ended:</dt>
                <dd>{{ bid.auction.time_ending }}</dd>
            </dl>
            <br>
            <div class=" col-xs-12 col-md-6">
                <img src="{{ MEDIA_URL }}{{ bid.auction.antiques.image }}" alt="Product Image" height="50%" width="50%">
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}
<div class="container-fluid m-5">
    <div class="row">
        <div class="col-xs-12">
            <div class="watch-title">
                <h5 class="m-5 text-center">Your Bids</h5>
            </div>
        </div>
    </div>

    {% if bids.auction.auction_expired == false and bids.auction.money_collected == False %}
    <div class="row">
        {% for bid in bids %}
        <dl class="p-2 limiter bg-dark col-xs-12 col-md-6">
            <dt>Antique name:</dt>
            <dd>{{ bid.auction.antiques.name}}</dd>
            <dt>Auction #:</dt>
            <dd><strong>{{ bid.auction.pk }}</strong></dd>
            <dt>Number of bids:</dt>
            <dd>{{ bid.auction.number_of_bids }}</dd>
            <dt>Current Highest Bid:</dt>
            <dd>{{ bid.auction.current_leader }}</dd>
            <dt>Time ending:</dt>
            <dd>{{ bid.auction.time_ending }}</dd>
            <a href="{% url 'auction:get_specific_auction' bid.auction.pk %}">Go to this auction</a>
        </dl>
        <div class=" col-xs-12 col-md-6">
            <img src="{{ MEDIA_URL }}{{ bid.auction.antiques.image }}" alt="Product Image" height="50%" width="50%">
        </div>


                
        <br>
        {% endfor %}
            
    </div>
    {% else %}
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h2>You have not yet bid on any items</h2>
            <a href="{% url 'auction:get_all_auctions' %}">Start bidding</a>
        </div>

    </div>
    {% endif %}
</div>
<div class="container-fluid m-5">
    <div class="row">
        <div class="col-xs-12">
            <div class="watch-title">
                <h5 class="m-5 text-center">Watchlist</h5>
            </div>
        </div>
    </div>

    {% if watchlist.auction.auction_expired == false %}
    <div class="row">
        {% for watch in watchlist %}
        <dl class="p-4 limiter bg-dark col-xs-12 col-md-6">
            <dt>Antique name:</dt>
            <dd>{{ watch.auction.antiques.name}}</dd>
            <dt>Number of bids:</dt>
            <dd>{{ watch.auction.number_of_bids }}</dd>
            <dt>Current Highest Bid:</dt>
            <dd>{{ watch.auction.current_leader }}</dd>
            <dt>Time ending:</dt>
            <dd>{{ watch.auction.time_ending }}</dd>
            <a href="{% url 'auction:get_specific_auction' watch.auction.pk %}">Go to this auction</a>
        </dl>
        <div class=" col-xs-12 col-md-6">
            <img src="{{ MEDIA_URL }}{{ watch.auction.antiques.image }}" alt="Product Image" height="50%" width="50%">
        </div>
        <br>
        {% endfor %}
            
                    
    </div>
        

    {% else %}
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h2>You are not currently watching any items</h2>
        </div>

    </div>

{% endif %}
</div>




{% endblock %}