{% extends 'base.html' %}
<div class="row">
    <div class="col-xs-12 text-center">
        <div class="watch-title">
            <h5>You are currently watching...</h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="watch-items">
            <p>fuuuuck</p>
                {% for w in watchlist %}
                <p>{{ w.auction_id.number_of_bids }}</p>
                    
                     
                
                {% endfor %}
          
                
        </div>
    </div>
</div>
{% endblock %}