{% extends 'base.html' %}

{% block page_title %}{{ user }}'s Watchlist{% endblock %}

{% block page_heading %}{{ user }}'s Watchlist{% endblock %}

{% block content %}


<div class="row">
    <div class="col-xs-12 text-center">
        <div class="watch-title">
            <h5>You are currently watching...</h5>
        </div>
    </div>
</div>

{% if watchlist%}
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="watch-items">
            {% for watch in watchlist %}
            <dl>
                <dt>Antique name:</dt>
                <dd>nnn</dd>
                <dt>Number of bids:</dt>
                <dd>xxx</dd>
                <dt>Current Highest Bid:</dt>
                <dd>xxx</dd>
                <dt>Time ending:</dt>
                <dd>xxx</dd>
                <dt>Email:</dt>
                <dd>xxx</dd>
            </dl>
            {% endfor %}
          
                
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-xs-12 col-md-6">
        <h2>You are currently not watching any items</h2>
    </div>

</div>
{% endif %}

{% endblock %}