body {
    font-family: Arial;
}


/* Nav and footer              */
/* Nav */
.navbar{
    margin-bottom: 5%;
}

.navbar-nav {
    float: right!important;
}

/* index */

.jumbotron {
    background-image: url('{% MEDIA_URL "static_images/jumbotron.jpg" %}');
    
}
.jumbo-title{
    margin: 5em;
}



/* Footer */
footer {
    margin-top: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;

}

.label-warning[href],
.badge-warning[href]{
    background-color: #c67605;

}

.antique {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.buy-now{
    margin-left: 15px;
}

.row.row-flex{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px

}

.panel-default {
    border-color: transparent;
    padding: 0 10px;

}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.antique-description{
    min-height: 40px;

}

/*    Profile       */
/* Gen layout */

.profile-header{
    margin-bottom: 5%;
}

.profile-intro{
    margin-bottom: 2.5%;
}

.profile-information-parent{
    text-align: left;
    margin-left: 10%;
}

.profile-information-child{
    display: inline-block;
    
}


/* forms */
.profile-form-parent{
    text-align: left;
    margin-left: 10%;
}
.profile-form-child{
    display: inline-block;
}


/* responsive images 
@media(min-width: 700px) {
  .image-container{
    max-
  }
}

@media(min-width: 900px) {
    .image-container{
        display: absolute;
        grid-template-columns: repeat(3, 1fr);
    }
}*/