p, li, a, dt, dd, button, h1, h2, h3, h4, h5 {
    font-family: 'Cinzel Decorative', cursive;
}


/* Nav and footer              */
/* Nav */
.navbar-toggler-icon{
    background-color: #00bc8c;
}

.nav-item{
    color: #00bc8c;
}

/* index */

.jumbotron-image {
    background-size: cover;
    background-image: url('/static/static_images/jumbotron.jpg');
    
}
.jumbo-title{
    font-family: 'UnifrakturMaguntia', cursive;
    color: #00bc8c;
    
}
.jumbotron-heading{
    margin: 25vh;
    text-align: center;
}

.site-title{
    margin-left: auto;
    margin-right: auto;
    padding: 15%, 0;
}
 .lead{
     color: #00bc8c;
     font-weight: 600;
 }

 /* profile page */
.profile-header{
    margin-left: auto; 
    margin-right: auto;
    margin-top: 5%;
    color: #00bc8c;
    font-weight: 600;
}

.profile-intro{
    margin-left: auto; 
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-size: cover;
    background-image: url('/static/static_images/jumbotron.jpg');
}

.profile-parent{
    text-align: left;
    margin-left: 10%;
}

.profile-child{
    display: inline-block;
    
}

.hide-profile{
    text-align: center;
}

.hide-profile-button{
    display: inline;
    margin-left: auto;
    margin-right: auto;
}


dt {
    font-weight: 900;
    color:#00bc8c;
}

dl > dd {
    margin: 15px 60px;
    
}

.address-box{
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
}

/* Bid & Watching */
.limiter{
    max-height: 75vh;
}


/* Footer */
footer {
    margin-top: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;

}

.label-warning[href],
.badge-warning[href]{
    background-color: #c67605;

}

.antique {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.buy-now{
    margin-left: 15px;
}

.row.row-flex{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px

}

.panel-default {
    border-color: transparent;
    padding: 0 10px;

}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.antique-description{
    min-height: 40px;

}

/* forms */
.profile-form-parent{
    text-align: left;
    margin-left: 10%;
}
.profile-form-child{
    display: inline-block;
}

.enquire-text{
    height: 30vh;
}

/* checkout */
.image-container-checkout{
    height: 60vh;
    max-width:100%;
    max-height:100%;
    background-repeat: repeat;
}

.total{
    margin: 30px auto;
}
