  
{% extends 'base.html' %}

{% block title %}Current Items{% endblock %}

{% block content %}

<div class="container">
    <div class="col-xs-12">
        <h2>Our Current Range of Antiques</h2>
    </div>
</div>


<nav aria-label="search-bar" class="navbar navbar-expand-md navbar-dark bg-dark mb-2">
    <div class="d-flex flex-grow-1">
        <form method="GET" action="{% url 'search:search_past_items' %}" class="mr-2 my-auto w-100 d-inline-block order-1">
            <div class="input-group">
                <input name="q" value="{{ request.GET.Q }}" type="text" class="form-control border m-2 border-right-0" placeholder="Search...">
                <span class="input-group-append">
                    
                    <button class="btn btn-success" type="submit">
                        <span class="material-icons">search</span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</nav>
<div class="container">
    <div class="row row-flex">
        {% for antique in items %}
        <div class="col-xs-12 col-md-6 display panel panel-default">
            <div class="panel-body p-3">
                <div class="image-container m-1">
                    <img src="{{ MEDIA_URL }}{{ antique.image }}" alt="Product Image" height="100%" width="100%">
                </div>
                <h3 class="p-3">{{antique.name}}</h3>
                <button class="btn btn-primary m-3" type="button" data-toggle="collapse" data-target="#antique-description" aria-expanded="false" aria-controls="collapseExample">
                    About the Item
                </button>
                <div class="collapse p-3" id="antique-description">
                    <div class="card card-body">
                        <p class="antique-description p-3">{{ antique.description }}</p>
                        <br>
                        <strong><h5 class="p-3">Learn more about the items background</h5></strong>
                        <a class="p-3" href="{{ antique.edu_info }}">Wiki</a>
                    </div>
                </div>
                <h5 class="date-posted">Last update on site <strong>{{ antique.date_posted }}</strong></h5>
                
                <p>{{ antique.price }}</p>
                <form method="post" action="#">
                    {% csrf_token %}
                    <div class="bid-box">
                        <div class="purchase-box">
                            <h5 class="purchase-header">Our current highest bid is <span class="current-bid">€{{  antique.current_bid }}</span></h5>
                        </div>                
                    </div>
                    <div class="input-group">
                        <input name="quantity" type="number" min="{{  antique.current_bid  }}" class="form-control" placeholder="€">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Bid</button>
                        </span>
                    </div>
                    <div class="buy-now">
                        <div class="purchase-box">
                            <h5 class="purchase-header">Secure this item now for </h5><span class="current-bid">€{{  antique.buy_now_price }}<button class="buy-now btn btn-success" type="submit">Buy Now</button></span>
                        </div>   
                    </div>
                </form>
                <div class="watch input-group">
                    <span class="input-group-btn">
                        <button class="btn-info" onclick="location.href='/auction/add_to_watch_list/{{auction.id}}'">
                            Watch
                        </button>
                    </span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% include 'pagination.html' %}
</div>
{% endblock %}