{% extends 'base.html' %}
{% block title %}Search Results{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="display">
                <form class="md-form active-cyan-2 mb-3" action="{% url 'search:search_founds' %}" method="get">
                    <input class="input-block-level mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
                    <button class="btn btn-primary" type="search">Search Current Items</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-flex">
        {% for found in found_antiques %}
        <div class="col-xs-12 col-md-6 m-3 p-3 display panel panel-default">
            <div class="panel-body p-3">
                <div class="image-container m-1">
                    <img src="{{ MEDIA_URL }}{{ found.image }}" alt="Product Image" height="100%" width="100%">
                </div>
                <h3 class="p-3">{{found.name}}</h3>
                <button class="btn btn-primary m-3" type="button" data-toggle="collapse" data-target="#found-description" aria-expanded="false" aria-controls="collapseExample">
                    About the Item
                </button>
                <div class="collapse p-3" id="found-description">
                    <div class="card card-body">
                        <p class="found-description p-3">{{ found.description }}</p>
                        <br>
                        <strong><h5 class="p-3">Learn more about the items background</h5></strong>
                        <a class="p-3" href="{{ found.edu_info }}">Wiki</a>
                    </div>
                </div>
                <h5 class="date-posted">Last update on site <strong>{{ found.date_posted }}</strong></h5>
                
                <p>{{ found.price }}</p>
                <form method="post" action="#">
                    {% csrf_token %}
                    <div class="buy-now">
                        <div class="purchase-box">
                            <h5 class="purchase-header">Secure this item now for </h5><span class="current-bid">€{{  found.buy_now_price }}<button class="buy-now btn btn-success" type="submit">Buy Now</button></span>
                        </div>   
                    </div>
                    <div class="bid-box">
                        <div class="purchase-box">
                            <h5 class="purchase-header">Our current highest bid is <span class="current-bid">€{{  found.current_bid }}</span></h5>
                        </div>                
                    </div>
                    <div class="input-group">
                        <input name="quantity" type="number" min="{{  found.current_bid  }}" class="form-control" placeholder="€">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Bid</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}