{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}Checkout{% endblock %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}" ></script>
{% endblock %}  
{% block content %}
<div class="row row-flex">
    <div class="col-xs-12 offset-md-2 col-md-8 display panel panel-default">
        <div class="panel-body">
            <div class="image-container">
                <img class="checkout-antique" src="{{ MEDIA_URL }}{{ auction.antiques.image }}" alt="Product Image">
            </div>
            
            
            <div class="caption">
                <h3 class="m-4">{{ auction.antiques.name }}</h3>
                <p class="m-4 product-description">{{ auction.antiques.description }}</p>
                
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 offset-md-2 col-md-8">
        <div class="panel panel-default payment-container">
            <h4 class="total" style="color: red">Total:  <strong>€{{ total }}</strong></h4>
                
            {% block checkout-form %}
                
            {% endblock %}
            <p class="m-4" style="color: red">Due to the special nature of our products, standard delivery isnt available on any orders. The onus will be on the consumer to arrange
                pick up and delivery. We will provide dimensions and whatever other information may be necessary. </p>
        </div>
    </div>
</div>


{% endblock %}