{% extends 'base.html' %}

{% block page_title %}{{ user }}'s Profile{% endblock %}

{% block page_heading %}{{ user }}'s Profile{% endblock %}

{% block content %}

<!--Display the users details and provide a link so that the user can update the same details-->
<div class="container-fluid profile-intro">
	<div class="row">
        <div class="col-sm-12">
            <h2 class="text-center profile-header">Welcome to your profile page {{ user }}</h2>
        </div>        
        <div class=" col-sm-12">
            <h5 class="text-center">Below you will see the details that we currently have stored on file for you.</h5>
            <br>
            <h5 class="text-center">If you want to update your personal details, you can do that<a href="{% url 'accounts:edit_profile' user.profile.id %}"> here</a></h5>
        </div>        
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="profile-parent">
                <div class="profile-child">
                    <dl>
                        <dt>First name:</dt>
                        <dd>{{ userprofile.firstname}}</dd>
                        <dt>Last name:</dt>
                        <dd>{{ userprofile.lastname }}</dd>
                        <dt>Email:</dt>
                        <dd>{{ user.email }}</dd>
                        <dt>Phone:</dt>
                        <dd>{{ userprofile.phone }}</dd>
                        <dt>Address:</dt>
                        <dd class="address-box">{{ userprofile.address }}</dd>
                        <dt>Town:</dt>
                        <dd>{{ userprofile.town }}</dd>
                        <dt>Country:</dt>
                        <dd>{{ userprofile.country }}</dd>
                        <dt>Post Code:</dt>
                        <dd>{{ userprofile.post_code }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>

{% endblock %}