{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}{{ user }}'s Profile{% endblock %}

{% block page_heading %}{{ user }}'s Profile{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center">Welcome to your profile page {{ user }}</h2>
        </div>        
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="text-center">You can use this page to manage your personal details on your account.</h4>
            <h4 class="text-center">Check out the information below and try to keep this up to date for us</h4>
        </div>        
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <form method="POST"  action=".">
            {% csrf_token %}
            {{ update_information_form | as_bootstrap }}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

</div>
{% endblock %}