{% extends 'base.html' %}

{% block page_title %}{{ user }}'s Profile{% endblock %}

{% block page_heading %}{{ user }}'s Profile{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3>Welcome to your profile page {{ user }}</h3>
        </div>        
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="offset-sm-3 col-sm-9">
            <p>You can use this page to manage your personal details on your account.</p>
            <p>Check out the information below and try to keep this up to date for us</p>
        </div>        
    </div>
</div>
{% endblock %}